<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
  {{ with .Site.Params.image }}<meta property="og:image" content="{{ . }}" />{{ end }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  {{ with .Site.Params.twitter_user }}<meta name="twitter:site" content="{{ . }}" />{{ end }}
  {{ with .Site.Params.image }}<meta name="twitter:image" content="{{ . }}">{{ end }}

  <title>{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>
  {{ "<!-- Stylesheets -->" | safeHTML }}
  <link href="{{ "css/bootstrap-v3.3.7/bootstrap.min.css" | absURL }}" rel="stylesheet">
  <link href="{{ "css/agency.css" | absURL }}" rel="stylesheet">
  <link href="{{ "css/jquery.form-validator-v2.3.44/theme-default.min.css" | absURL }}" rel="stylesheet">

  {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{ end }}

  {{ "<!-- Custom Fonts -->" | safeHTML }}
  <link href="{{ "font-awesome-v4.7.0/css/font-awesome.min.css" | absURL }}" rel="stylesheet" type="text/css">

  {{ with not .Site.Params.disableFonts }}
  <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Noto+Sans+SC:400,500,700&display=swap" rel="stylesheet">
  {{ end }}

  {{ with .Site.Params.favicon }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ . | absURL }}">
    <link rel="icon" type="image/x-icon" href="{{ . | absURL }}">
  {{ end }}

</head>
