{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
      <div class="intro-text col-sm-12">
        <div class="title1">DataTón</div>
        <div class="title2">Anticorrupción</div>
        <div class="hashtag">#elpoderdelosdatos</div>
        <div class="explicacion">Ideas tecnológicas para construir un mejor país.</div>
        <div class="fecha">Sábado 8 de diciembre. Ciudad de México.</div>
      </div>
      <div class="text-center">
        <a href="#registro" class="page-scroll btn btn-xl">Participa</a>
      </div>
  </div>
</header>
