<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ partial "head.html" . }}

    <body id="page-top" class="single">
        {{ partial "nav.html" . }}    

            <section id="main" class="container">
                <h1 id="title">{{ .Title }}</h1>
                <div>
                    <article id="content">
                        <p>Estos son los conjuntos de datos que ponemos a tu disposición para el propósito de 
                            este datatón.</p>
                        <p>Debes utilizar al menos uno de estos conjuntos de datos. Opcionalmente, puedes complementar 
                            con conjuntos de datos terceros, siempre y cuando sean abiertos e indiques la fuente.
                        </p>    
                        <div class="col-md-10 col-sm-12">
                            <ul class="faq">
                                {{ $url := "https://docs.google.com/spreadsheets/d/e/2PACX-1vSlp2DC38JwJ6SsZgmdVVCP2VCFxMF0VvTXWDDCLJv0PZHp_8l6szSuvV9KOmwZ0NJ7T7zyAPPEOPD6/pub?gid=1228884255&single=true&output=csv" }}
                                {{ $sep := "," }}
                                {{ range $i, $r := getCSV $sep $url }}
                                    {{ if and (gt $i 0) (eq (index $r 11) "sí") }}
                                <li>
                                    <a data-toggle="collapse" href="#q{{ $i }}" class="faq-question">{{ index $r 4 }} 
                                    - {{ index $r 0 }}</a>
                                    <div id="q{{ $i }}" class="faq-answer collapse">
                                        <p>{{ index $r 6 }}</p>
                                        <a href="{{ index $r 5 }}">Ir a repositorio</a>
                                    </div>          
                                </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                        </div>                    
                    </article>
                </div>
            </section>

        {{ partial "js.html" . }}

    </body>
</html>
